/*
*   Set default variables
*   They will come from the plugin automatically
*/
$cid: null !default;
$config: () !default;
$project: () !default;
$properties: () !default;
$private_properties: () !default;


/*
*   Customize theme
*/
@use "theme/init" with (
    $cid: $cid,
    $project: $project,
    $config: $config,
    $properties: $properties,
    $private_properties: $private_properties
);

/*
*   Use customized theme
*   Returns:
*       $config
*       functions
*/
@use "theme";

/*
*   Get theme settings
*/
$theme: theme.get();

/*
*   Customize the core configuration
*/
@use "config" with (
    $cid: $cid,
    $project: $project,
    $config: $config,
    $properties: $properties,
    $private_properties: $private_properties,
    $theme: $theme
);

/*
*   Forwarding
*/
@forward "functions";
@forward "mixins";
@forward "config";