@use "functions" as *;
@use "init" as config;
@use "sass:map";

$top_selector: map.get(config.$project, top-selector);
@mixin _wrap($prepend) {
    $output: ();
    @if(&) {
        @at-root #{$prepend} & {
            @content;
        }
    } @else {
        @at-root #{$prepend} {
            @content;
        }
    }
}
/*
*   Rules that apply only to inverse theme
*/
@mixin is-inverse {
    $inverse: get(inverse);
    $inverse-mode: get(inverse-mode);
    @if $inverse and not $inverse-mode {
        @include _wrap('[un-prefix="#{$top_selector}:not(.un-inverse)"]') {
            @content;
        }
    } @else if $inverse {
        @include _wrap('[un-prefix=".un-inverse"]') {
            @content;
        }
    }
}

@mixin is-dark() {
    $inverse: get(inverse);
    $inverse-mode: get(inverse-mode);
    @if get(theme-type) == 'dark' and not $inverse-mode {
        @include _wrap('[un-prefix="#{$top_selector}:not(.un-inverse)"]') {
            @content;
        }
    } @else if $inverse-mode and get(theme-type) == 'dark' {
        @include _wrap('[un-prefix=".un-inverse"]') {
            @content;
        }
    }
}

@mixin is-light() {
    $inverse: get(inverse);
    $inverse-mode: get(inverse-mode);
    @if get(theme-type) == 'light' and not $inverse-mode {
        @include _wrap('[un-prefix="#{$top_selector}:not(.un-inverse)"]') {
            @content;
        }
    } @else if $inverse-mode and get(theme-type) == 'light' {
        @include _wrap('[un-prefix=".un-inverse"]') {
            @content;
        }
    }
}

@mixin is-type($type) {
    @if $type == light {
        @include is-light {
            @content
        }
    }
    @if $type == dark {
        @include is-dark {
            @content
        }
    }
}

@mixin is-theme($theme-name) {
    $theme-prefix: map.get(config.$project, theme-prefix);
    $active-name: get(name);
    @if $theme-name == $active-name {
        @if $theme-prefix {
            @include _wrap('[un-prefix=".un-theme-#{$theme-prefix}"]') {
                @content;
            }
        } @else {
            @include _wrap('[un-prefix]') {
                @content;
            }
        }
    }
}

@mixin ignore-inverse {
    @include _wrap('[un-inverse-ignore]') {
        @content;
    }
}

@mixin is($prefix) {
    @include _wrap("[un-prefix='#{$prefix}']") {
        @content;
    }
}
